<!DOCTYPE html>
<html>
    <head></head>
    <body>
       
        <div class='order-container'>
            <div class='inner-container'>
                <div id="rightdiv" class="rightdiv">
                    <ul>
                        <li><a class="a active" (click)="toggle('upcoming')">Upcoming</a></li>
                        <li><a class="a" (click)="toggle('pending')">Pending</a></li>
                        <li><a class="a" (click)="toggle('past')">Past</a></li>
                    </ul>
                </div>
                <div class="sidediv">
                        <div class="container">
                                <div *ngFor="let res of orders" class="card">
                                    <!-- <img src={{res.img}} alt="Avatar" style="width:100%"> -->
                                    <div class="card-container">
                                        <div class="g1">
                                            <h4><b>{{res.customer_name}}</b></h4> 
                                        </div>
                                        <div class="g3">
                                            <p>{{res.address}}</p>  
                                        </div>
                                        <div>
                                            <p>{{res.total}}</p>
                                        </div>
                                        <ng-container *ngFor="let o of res.orders">
                                            <div>
                                                <p>{{o.itemname}}</p>
                                            </div>
                                            <div>
                                                <p>{{o.quantity}}</p>
                                            </div>
                                            <div>
                                                <p>{{o.cost}}</p>
                                            </div>
                                            
                                        </ng-container>
                                        
                                            
                                        
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
            
        </div>


    </body>
</html>