<!DOCTYPE html>
<html>
    <head></head>
    <body>
       <!-- orders container -->
        <div class='order-container'>
            <div class='inner-container'>
                <div id="rightdiv" class="rightdiv">
                    <ul>
                        <li><a class="a" (click)="toggle('upcoming')">Upcoming</a></li>
                        <li><a class="a" (click)="toggle('pending')">Pending</a></li>
                        <li><a class="a" (click)="toggle('past')">Past</a></li>
                    </ul>
                </div>
                <!-- side div to show upcoming and complete orders -->
                <div class="sidediv">
                        <div class="container1">
                                <div *ngFor="let res of orders" class="card">
                                    <!-- <img src={{res.img}} alt="Avatar" style="width:100%"> -->
                                    <div class="card-container">
                                        <div class="g1">
                                            <p><b>Name</b></p> 
                                        </div>
                                        <div>
                                            <p><b>Price</b></p>
                                        </div>
                                        <div class="g3">
                                            <p><b>Quantity</b></p>  
                                        </div>
                                        
                                        <ng-container *ngFor="let o of res.items">
                                            <div>
                                                <p>{{o.name}}</p>
                                            </div>
                                            <div>
                                                <p>${{o.price}}</p>
                                            </div>
                                            <div>
                                                <p>{{o.quantity}}</p>
                                            </div>
                                            
                                        </ng-container>
                                        <!-- <div> -->
                                            <!-- <p>Total Price : ${{res.totalCost}}</p> -->
                                        <!-- </div> -->
                                        <label>Total Price : ${{res.totalCost}}</label>
                                        <div></div>
                                        <mat-checkbox class="checkbox" name="complete" [ngModel]="complete" (click)="updateOrder(res)">Complete</mat-checkbox>
                                        
                                            
                                        
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
            
        </div>


    </body>
</html>