<router-outlet></router-outlet>
<div class = "footer_page">
        <div class = "left_footer">
            <a href="/customer/homepage" class="ast">
                <p>
                    Uber <span>Eats</span>
                </p>
            </a>
        </div>
        <div class="right_footer">
            <a href="#">
                <p>
                    Add your restaurant
                </p>
                
            </a>
            <a href="#">
                <p>
                    Read About our Assingment
                </p>
            </a>
            <a href="">
                <p>
                    View our FrontEnd Git repo
                </p>
            </a>
            <a href="https://github.com/chilkuriv/delhivery">
                <p>
                    view out BackEnd Git Repo
                </p>
            </a>
        </div>
        
    </div>
