.wrapper {
  //margin-top: 80px;
  //margin-bottom: 20px;
  padding-left: 100px;
}
label {
  /* Other styling... */
  //text-align: right;
  //clear: both;
  //float:left;
  margin-right:15px;
}
/*.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0, 0, 0, 0.1);
}*/

.form-signin-heading {
  margin-bottom: 30px;
  color: green;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-radius: 0px;
}



#login_lost_btn {
  color: #28B463;
}

button[type="Submit"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.login-body {
  position: fixed;
  min-width: 100%;
  background-image: url("/assets/favicon.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-size: cover;
  }

form {
  margin-top: 10%;
}
.outer {
  position: relative;
  background-position: 30%;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 1000px;
  background-image: url("https://wallpaperplay.com/walls/full/5/7/e/121426.jpg");
  .container {
    width: 40%;
    min-height: 50%;
    position: absolute;
    top: 15%;
    left: 30%;
    background-color: white;

    padding: 20px 20px;

    h2 {
      font-size: 30px;
      text-align: center;
    }
    .form-group {

      display: inline-flex;
      min-width: 80%;
      label {
        margin-left: 25%;
      }
      button {
        margin-left: 70%;
      }
      a {
        margin-left: 5%;
      }
      
    }

  }

}
