<div class="paymentpage">
          <navbarcomp></navbarcomp>  
<form class="paymentpage" autocomplete="">
<input class="defaultDetailsBtn" type="button" value="Use Default Payment Details">

<hr>
<label for="paymentdetails">Payment Details</label>
<div class="carddetails cardStyle">
<input type="text" id="cn" name="cn" min="1" max="15" [(ngModel)]="cardnumber"  [ngModelOptions]="{standalone: true}" autocomplete="off">
</div >
<div class="otherdetails cardStyle">
<input type="text" id="expir" name="expir" [(ngModel)]="ed"  [ngModelOptions]="{standalone: true}" autocomplete="off">
<input type="text" id="cv" name="cv" [(ngModel)]="cv"  [ngModelOptions]="{standalone: true}" autocomplete="off">
<input type="text" id="postal" name="postal" [(ngModel)]="postal"  [ngModelOptions]="{standalone: true}" autocomplete="off">
</div>
<!-- <button  class="submitbutton"  value="pay" (click)="successPayment($event,[cn,ed,cv,postal])"></button> -->
<input class="submitbutton" type="button" value="pay" (click)="successPayment($event,[cn,ed,cv,postal])" >

</form>
</div>