<!DOCTYPE html>
<html>
    <head>
        <title> HomePage </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
    </head>
    <body>  
            <!-- top nav bar -->
            <div class="topnav">
                <a href="/admin/homepage">Uber<span>Eats</span></a>
                <a class="title"> Manage Restaurants </a>
                <a class="signout" (click)="logout()">Sign Out</a>
            </div>
          <button class="button button2" (click)="navToCreateRestaurant()">Create Restaurant</button>
          <!-- card layout to display restaurants -->
          <div class="container">
            <div *ngFor="let res of restaurants" (click)="navToRestaurantPage(res)" class="card">
                <img src={{res.bgimg}} alt="Avatar" style="width:100%">
                <div class="card-container">
                    <h4><b>{{res.name}}</b></h4> 
                    <p>{{res.type_of_food}}</p> 
                </div>
            </div>
        </div>
    </body>
</html> 