

<div class="card" (click) = "next_page(id)">
    <img src="https://d1ralsognjng37.cloudfront.net/6ba72ec0-5f63-4c6d-88e1-fc1f6fe0ad2e" alt="Avatar" style="width:100%">
    <div class = "content">
        <div class = "name">
            {{name}}
        </div>
        <div class = 'price_rating'>
            <span>
                {{price_rep}}&nbsp;•&nbsp;{{type_of_food}}
                
            </span>
        </div>
        <div class = rating_time_deliveryfee>
            <span>
                
                {{rating}}&nbsp;<i class="fas fa-star"></i>
                &nbsp;({{no_rating}})
            </span>
        </div>
    </div>
</div>
