body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  height: 70px;
  // position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 10;
  width: 100%;
  margin-bottom: 40px;

  .location {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 23px 23px;
    text-decoration: none;
    font-size: 17px;
  }
  a {
    span {
        color: #5FB709;
    }
  }
  .sign {
    float: right;
    margin-top: 5px;
    font-size: 24px;
  }
  .register {
    float: right;
    margin-top: 5px;
    font-size: 24px;
  }
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 23px;
  margin-right: 70px;
  margin-left: 20px;
  text-decoration: none;
  font-size: 35px;
}
.carousel-item {
  text-align: center;
}
.picsum-img-wrapper{
  img{
    width:100%;
    height: 100%;
  }
}
