h1{text-align: center;background: #262626;line-height:3em;vertical-align: middle;font-size: 1.7em;color:white}
span{float:right;margin:auto 30px auto auto;cursor: pointer;}

.paymentsuccesslabel{font-size: 30px;text-emphasis-color:#4990E3;color:#4990E3;text-align:center;
margin:40px 0 20px 0;
}
.orderIdlabel{
    font-size: 25px;cursor:pointer;color:black;text-align:center;
    margin:10px 0 20px 0;
    
}

