<!DOCTYPE html>
<html>
    <head>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </head>
    <body>  
            
            <h1>Restaurant Analytics</h1>
            <!-- Category wise data chart -->
            <div class="row">
                    <div class="col-md-4">
                        
                        <div id="chartContainer2" class="chartContainer"></div>
        
                        
                    </div>
                </div>
                <hr>
            <!-- revenue chart -->
        <div class="row">
            <div class="col-md-4">
                
                <div id="chartContainer" class="chartContainer"></div>

  
            </div>
        </div>
        <!-- <hr> -->
        
        <hr>
        <!-- orders chart -->
        <div class="row">
                <div class="col-md-4">
                    
                    <div id="chartContainer3" class="chartContainer"></div>
    
                    
                </div>
            </div>
    </body>
</html>