.form-group {
  display: inline-flex;
}
.form {
  margin-top: 10%;
}
label {
  margin-right: 10px;
  width: 100%;
}
.container {
  width: 40%;
  min-height: 50%;
  position: absolute;
  top: 15%;
  left: 30%;

  background-color: white;

}
